# SYSTEM FILES
.DS_Store
*.log
*.class
*.pyc
*.swp

# IDEs
.idea/
*.iml
*.ipr
*.iws

# VS Code (opcional)
#.vscode/

# FLUTTER / DART
.dart_tool/
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
coverage/

# ANDROID
/android/app/debug
/android/app/profile
/android/app/release

# HISTORY / TEMP
.history/**

# OTHERS
.svn/
.swiftpm/
.build/
.buildlog/
migrate_working_dir/